%% SatNOGS COMMS System Design Document - Requirements Tables
%% Copyright (C) 2021 Libre Space Foundation
%%
%% This work is licensed under a
%% Creative Commons Attribution-ShareAlike 4.0 International License.
%%
%% You should have received a copy of the license along with this
%% work.  If not, see <http://creativecommons.org/licenses/by-sa/4.0/>.

{% for item in issues if 'Logistics Support' in item.labels%}
\begin{table}[ht]
  \centering
  \begin{tabular}{lp{0.6\linewidth}}
    \toprule
    \textbf{ID} &
         \bfseries
         REQ-{{ item.id }} --- \begin{markdown}
{{ item.title }}
         \end{markdown}
    \\ \midrule
    \textbf{Type} & {{ item.labels|reject('in', ['Requirement', 'To Do', 'Doing', 'Done'])|join(', ') }} \\ \midrule
    \textbf{Description} &
                  \begin{markdown}
{{ item.content.Description }}
                  \end{markdown}
    \\ \midrule
    \textbf{Rationale} &
                \begin{markdown}
{{ item.content.Rationale }}
                \end{markdown}
    \\ \bottomrule
  \end{tabular}
\end{table}

{% endfor %}
